body {
    background-color: #FFFFFF;
}

.box {
    margin: auto 0;
    text-align: center;
}

.container {
    margin-top: 10vh ;
}

#image {
    display: block;
    max-width: 100%;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.cut {
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color:  #D7674F;
  color:#FFFFFF;
  cursor: pointer;
}

.reupload {
    display: none;
}

label {
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #D7674F;
    color: #FFFFFF;
    cursor: pointer;
}