@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');



#root {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  text-align: center;
}